<div class="flex flex-col justify-between items-center mb-6 space-y-4 sm:flex-row sm:space-y-0 dark:text-stone-300">
  <div class="flex items-center space-x-2">
    <h1 class="text-2xl font-bold text-stone-900 dark:text-stone-100"><%= title %></h1>
    <span class="text-stone-500 dark:text-stone-400">(<%= tracks.total_count %> tracks)</span>
  </div>

  <div class="flex items-center space-x-4">
    <div class="relative">
      <select onchange="window.location.href = this.value" class="block py-2 pr-10 pl-3 w-full text-base rounded-md border-stone-300 dark:border-stone-600 dark:bg-stone-700 dark:text-stone-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 dark:focus:ring-indigo-400 dark:focus:border-indigo-400 sm:text-sm">
        <option value="<%= url_for(sort_by: 'date', sort_direction: 'desc') %>" <%= 'selected' if sort_by == 'date' && sort_direction == 'desc' %>>
          Newest First
        </option>
        <option value="<%= url_for(sort_by: 'date', sort_direction: 'asc') %>" <%= 'selected' if sort_by == 'date' && sort_direction == 'asc' %>>
          Oldest First
        </option>
        <option value="<%= url_for(sort_by: 'artist', sort_direction: 'asc') %>" <%= 'selected' if sort_by == 'artist' && sort_direction == 'asc' %>>
          Artist (A-Z)
        </option>
        <option value="<%= url_for(sort_by: 'artist', sort_direction: 'desc') %>" <%= 'selected' if sort_by == 'artist' && sort_direction == 'desc' %>>
          Artist (Z-A)
        </option>
        <option value="<%= url_for(sort_by: 'title', sort_direction: 'asc') %>" <%= 'selected' if sort_by == 'title' && sort_direction == 'asc' %>>
          Title (A-Z)
        </option>
        <option value="<%= url_for(sort_by: 'title', sort_direction: 'desc') %>" <%= 'selected' if sort_by == 'title' && sort_direction == 'desc' %>>
          Title (Z-A)
        </option>
        <option value="<%= url_for(sort_by: 'play_count', sort_direction: 'desc') %>" <%= 'selected' if sort_by == 'play_count' && sort_direction == 'desc' %>>
          Most Played
        </option>
        <option value="<%= url_for(sort_by: 'play_count', sort_direction: 'asc') %>" <%= 'selected' if sort_by == 'play_count' && sort_direction == 'asc' %>>
          Least Played
        </option>
        <option value="<%= url_for(sort_by: 'random') %>" <%= 'selected' if sort_by == 'random' %>>
          Random
        </option>
      </select>
    </div>
  </div>
</div>

<div class="flex justify-center my-6">
  <%= paginate tracks, window: 2 %>
</div>
