<div class="bg-white rounded-lg shadow dark:bg-stone-800" id="<%= dom_id(track) %>">
  <%= render 'shared/youtube_player', track: track %>
  <div class="p-4">
    <div class="truncate">
      <%= link_to track.track_title, track_path(track), class: "font-semibold text-stone-900 dark:text-stone-100" %>
      <p class="text-sm text-stone-600 dark:text-stone-400"><%= track.artist %></p>
    </div>
    <div class="flex justify-between items-center mt-4">
      <span class="text-xs text-stone-500 dark:text-stone-400"><%= track.created_at.strftime('%Y-%m-%d') %></span>
      
      <div class="relative" data-controller="dropdown">
        <button data-action="dropdown#toggle" class="text-stone-400 dark:text-stone-500 hover:text-stone-600 dark:hover:text-stone-300">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"/>
          </svg>
        </button>

        <div data-dropdown-target="menu" class="hidden absolute right-0 z-50 mt-2 w-48 bg-white rounded-md ring-1 ring-black ring-opacity-5 shadow dark:bg-stone-700">
          <div class="py-1">
            <%= link_to 'View Details', track_path(track), class: "block px-4 py-2 text-sm text-stone-700 dark:text-stone-300 hover:bg-stone-100 dark:hover:bg-stone-600" %>
            <%= link_to 'Edit', edit_track_path(track), class: "block px-4 py-2 text-sm text-stone-700 dark:text-stone-300 hover:bg-stone-100 dark:hover:bg-stone-600" %>
            <%= link_to 'Remove', track_path(track),
                class: "block px-4 py-2 text-sm text-red-600 dark:text-red-400 hover:bg-stone-100 dark:hover:bg-stone-600 w-full text-left",
                data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } %>
            <%= button_to toggle_favorite_track_path(track), method: :patch, class: "w-full text-left" do %>
              <span class="block px-4 py-2 text-sm text-stone-700 dark:text-stone-300 hover:bg-stone-100 dark:hover:bg-stone-600">
                <%= track.favorite ? 'Remove from Favorites' : 'Add to Favorites' %>
              </span>
            <% end %>
            <%= link_to 'View on Youtube', "https://youtube.com/watch?v=#{track.youtube_id}", class: "block px-4 py-2 text-sm text-stone-700 dark:text-stone-300 hover:bg-stone-100 dark:hover:bg-stone-600" %>
            <%= link_to 'View track on Discogs', "https://www.discogs.com/search?q=#{[track.artist, track.track_title].join(' ')}&type=all", class: "block px-4 py-2 text-sm text-stone-700 dark:text-stone-300 hover:bg-stone-100 dark:hover:bg-stone-600" %>
            <%= link_to 'View artist on Discogs', "https://www.discogs.com/search/?q=#{track.artist}&type=artist", class: "block px-4 py-2 text-sm text-stone-700 dark:text-stone-300 hover:bg-stone-100 dark:hover:bg-stone-600" %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
