<div class="bg-white rounded-lg shadow" data-controller="youtube">
  <div class="relative">
    <img
      src="https://img.youtube.com/vi/<%= track.youtube_id %>/0.jpg"
      alt="<%= track.track_title %>"
      class="object-cover w-full rounded-t-lg cursor-pointer aspect-video"
      data-action="click->youtube#playAudio"
      data-youtube-url="https://www.youtube.com/watch?v=<%= track.youtube_id %>"
      data-youtube-target="thumbnail"
    />
    <div id="player-<%= track.youtube_id %>" data-track-id="<%= track.id %>" data-youtube-target="player"></div>
    <% if track.play_count && track.play_count > 0 %>
      <div id="play-count-<%= track.id %>" class="absolute top-2 right-2 px-2 py-1 rounded-md opacity-80 bg-stone-800 text-stone-50" data-youtube-target="playCount">
        <%= track.play_count %>
      </div>
    <% end %>
    <div class="absolute right-0 bottom-0 left-0 h-1 bg-stone-200">
      <div
        id="progress-<%= track.youtube_id %>"
        class="w-0 h-full bg-indigo-500"
        data-youtube-target="progress"
      ></div>
    </div>
  </div>
  <div class="p-4">
    <h3 class="text-lg font-semibold truncate text-stone-900"><%= track.track_title %></h3>
    <p class="truncate text-stone-600"><%= track.artist %></p>
    
    <div class="flex justify-between items-center mt-4">
      <span class="text-sm text-stone-500"><%= track.created_at.strftime('%Y-%m-%d') %></span>
      
      <div class="relative">
        <button data-dropdown-toggle="dropdown-<%= track.id %>" class="text-stone-400 hover:text-stone-600">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"/>
          </svg>
        </button>

        <div id="dropdown-<%= track.id %>" data-dropdown class="hidden absolute right-0 z-50 mt-2 w-48 bg-white rounded-md ring-1 ring-black ring-opacity-5 shadow">
          <div class="py-1">
            <%= link_to 'View Details', track_path(track), class: "block px-4 py-2 text-sm text-stone-700 hover:bg-stone-100" %>
            <%= link_to 'Edit', edit_track_path(track), class: "block px-4 py-2 text-sm text-stone-700 hover:bg-stone-100" %>
            <%= button_to track_path(track), method: :delete, class: "w-full text-left", data: { confirm: "Are you sure you want to remove this track?" } do %>
              <span class="block px-4 py-2 text-sm text-red-600 hover:bg-stone-100">Remove</span>
            <% end %>
            <%= button_to toggle_favorite_track_path(track), method: :patch, class: "w-full text-left" do %>
              <span class="block px-4 py-2 text-sm text-stone-700 hover:bg-stone-100">
                <%= track.favorite ? 'Remove from Favorites' : 'Add to Favorites' %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
